.container-cadastro {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Vollkorn', serif !important;

  background-image: linear-gradient(to right top, #032a63 , #5c7fb4);

}

.container-cadastro .pagina {
  background-color: var(--overlay);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2% 5%;

  width: 60%;
  height: auto;

  border-radius: 10px;

  box-shadow: 0px 3px 5px -3px var(--text-black);

}

.container-cadastro .pagina .icone {
  width: 30%;
  height: auto;

}

.container-cadastro .pagina .icone svg {
  width: 100%;
  height: auto;

}

.container-cadastro .pagina .card-login {
  padding: 2%;

  width: 45%;
  height: auto;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}

.container-cadastro .pagina .card-login h1 {
  font-size: 1.5rem !important;
  font-weight: 800 !important;

  margin-bottom: 1rem !important;

  width: 100%;
  height: auto;

  text-align: center;

  color: var(--text-white);

}

.container-cadastro .pagina .card-login .label-float {
  padding: 2%;

  margin: 2%;

  width: 96%;
  height: auto;

  background-color: var(--background-input);

  border-radius: 50px !important;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--text-input);

  border: 1px solid var(--color-hr);

  box-shadow: 0px 3px 5px -3px var(--text-black);

}

.container-cadastro .pagina .card-login .label-float input {
  padding: 2%;
  margin-left: 10%;

  background-color: transparent;

  outline: none;

  border: none;

  font-weight: 700;

}

.container-cadastro .pagina .card-login .label-float select {
  padding: 2%;

  background-color: transparent;

  outline: none;

  border: none;

  font-weight: 700;

}

.container-cadastro .pagina .card-login .botao {
  padding: 2%;

  width: 96%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

}

.container-cadastro .pagina .card-login .botao  button {
  padding: 2%;
  margin: 2%;

  background-color: transparent;

  outline: none;

  border: none;

  font-weight: 600;
  font-weight: 900 !important;

  color: var(--text-white) !important;

  width: 50%;
  height: auto;

  background-color: var(--button);

  border-radius: 50px !important;

  box-shadow: 0px 3px 5px -3px var(--text-black);

}

.container-cadastro .pagina .card-login p {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-size: 16px;

  margin: 0;
  padding: 0;

}

.container-cadastro .pagina .card-login p a {
  text-decoration: none;

  color: var(--text-white);

  transition: color, .3s ease-in-out;

}

.container-cadastro .pagina .card-login p svg {
  color: var(--text-white);

}
