<div class="container-login">
    <div class="pagina">
      <div class="icone">
        <img src="../../assets/img/icone_login.png" alt="">
      </div>
      <div class="card-login">
          <h1>Login</h1>

          <div class="label-float">
              <input [(ngModel)]='clienteLogin.email' type="text" id="usuario" placeholder="Usuário" required>
          </div>

          <div class="label-float">
              <input [(ngModel)]='clienteLogin.senha' type="password" id="senha" placeholder="Senha" required>
          </div>

          <div class="botao">
              <button (click)='entrar()' >Login</button>
          </div>

          <p>
              <a routerLink='/cadastro' >Crie uma conta</a>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
              </svg>
          </p>

      </div>
    </div>
</div>
