.container-login {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Vollkorn', serif !important;

  background-image: linear-gradient(to right top, #032a63 , #5c7fb4);

}

.container-login .pagina {
  background-color: var(--overlay);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 5%;

  width: 60%;
  height: auto;

  border-radius: 10px;

  box-shadow: 0px 3px 5px -3px var(--text-black);

}

.container-login .pagina .icone {
  width: 30%;
  height: auto;

}

.container-login .pagina .icone svg {
  width: 100%;
  height: auto;

}

.container-login .pagina .card-login {
  padding: 2%;

  width: 40%;
  height: auto;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}

.container-login .pagina .card-login h1 {
  font-size: 1.5rem !important;
  font-weight: 800 !important;

  margin-bottom: 1rem !important;

  width: 100%;
  height: auto;

  text-align: center;

  color: var(--text-white);

}

.container-login .pagina .card-login .label-float {
  padding: 2%;

  margin: 2%;

  width: 100%;
  height: auto;

  background-color: var(--background-input);

  border-radius: 50px !important;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--text-input);

  border: 1px solid var(--color-hr);

  box-shadow: 0px 3px 5px -3px var(--text-black);

}

.container-login .pagina .card-login .label-float input {
  background-color: transparent;

  outline: none;

  border: none;

  font-size: 14px !important;
  font-weight: 600 !important;
  font-family: var(--font-Montserrat) !important;

  background-color: transparent !important;

  padding: 2% 3%;

  width: 100%;
  height: auto;

}

.container-login .pagina .card-login .botao {
  padding: 2%;

  margin: 10% 2% 3% 2%;

  width: 96%;
  height: auto;

  background-color: var(--button);

  border-radius: 50px !important;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0px 3px 5px -3px var(--text-black);

}

.container-login .pagina .card-login .botao  button {
  padding: 2%;

  background-color: transparent;

  outline: none;

  border: none;

  font-weight: 700 !important;
  font-family: var(--font-Amaranth) !important;

  color: var(--text-white) !important;

  width: 100%;
  height: auto;

}

.container-login .pagina .card-login p {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-size: 16px;

  margin: 0;
  padding: 0;

}

.container-login .pagina .card-login p a {
  text-decoration: none;

  color: var(--text-white);

  transition: color, .3s ease-in-out;

  font-family: var(--font-Amaranth) !important;
  font-weight: 400 !important;

}

.container-login .pagina .card-login p svg {
  color: var(--text-white);

}

@media(max-width: 600px) {
  .container-login {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Vollkorn', serif !important;

    background-image: linear-gradient(to right top, #032a63 , #5c7fb4);

  }

  .container-login .pagina {
    background-color: var(--overlay);

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    flex: wrap;

    padding: 5%;

    width: 90%;
    height: auto;

    border-radius: 10px;

    box-shadow: 0px 3px 5px -3px var(--text-black);

  }

  .container-login .pagina .icone {
    width: 100%;
    height: auto;

  }

  .container-login .pagina .icone img {
    width: 100%;
    height: auto;

  }

  .container-login .pagina .card-login {
    padding: 2%;

    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

  }

  .container-login .pagina .card-login h1 {
    font-size: 1.5rem !important;
    font-weight: 800 !important;

    margin-bottom: 1rem !important;

    width: 100%;
    height: auto;

    text-align: center;

    color: var(--text-white);

  }

  .container-login .pagina .card-login .label-float {
    padding: 2%;

    margin: 2%;

    width: 100%;
    height: auto;

    background-color: var(--background-input);

    border-radius: 50px !important;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--text-input);

    border: 1px solid var(--color-hr);

    box-shadow: 0px 3px 5px -3px var(--text-black);

  }

  .container-login .pagina .card-login .label-float input {
    background-color: transparent;

    outline: none;

    border: none;

    font-size: 14px !important;
    font-weight: 600 !important;
    font-family: var(--font-Montserrat) !important;

    background-color: transparent !important;

    padding: 2% 3%;

    width: 100%;
    height: auto;

  }

  .container-login .pagina .card-login .botao {
    padding: 2%;

    margin: 10% 2% 3% 2%;

    width: 96%;
    height: auto;

    background-color: var(--button);

    border-radius: 50px !important;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 3px 5px -3px var(--text-black);

  }

  .container-login .pagina .card-login .botao  button {
    padding: 2%;

    background-color: transparent;

    outline: none;

    border: none;

    font-weight: 700 !important;
    font-family: var(--font-Amaranth) !important;

    color: var(--text-white) !important;

    width: 100%;
    height: auto;

  }

  .container-login .pagina .card-login p {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 16px;

    margin: 0;
    padding: 0;

  }

  .container-login .pagina .card-login p a {
    text-decoration: none;

    color: var(--text-white);

    transition: color, .3s ease-in-out;

    font-family: var(--font-Amaranth) !important;
    font-weight: 400 !important;

  }

  .container-login .pagina .card-login p svg {
    color: var(--text-white);

  }

}
