<!-- NOVO TESTE -->
<div class="tela">
  <div class="container texto">
    <div class="row d-flex align-items-start justify-content-center">
        <div class="col-md-5 texto">
            <a routerLink='/home' class="texto rota-link">
                <i class="bi bi-chevron-double-left"></i> Home
            </a>
            / Produto
            <h1 class="fs-54 texto texto-responsivo">Produtos</h1>
            <h5 class="fs-18 texto texto-responsivo">Veja aqui todos os produtos cadastrados ou cadastre um novo:</h5>

            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="form-group resposividade-botao d-flex justify-content-center flex-column">
                        <!-- VERIFICA SE OS DADOS INSERIDOS TEPO USUARIO, REALMENTE PERTENCEM A CLASSE TEMA -->
                        <input [(ngModel)]='produto.nome' type="text" class="form-control" id="nome" placeholder="Nome">
                        <!-- VERIFICA SE OS DADOS INSERIDOS TEPO USUARIO, REALMENTE PERTENCEM A CLASSE TEMA -->
                        <input [(ngModel)]='produto.descricao' type="text" class="form-control" id="descricao" placeholder="Descricao">
                        <!-- VERIFICA SE OS DADOS INSERIDOS TEPO USUARIO, REALMENTE PERTENCEM A CLASSE TEMA -->
                        <input [(ngModel)]='produto.marca' type="text" class="form-control" id="marca" placeholder="Marca">
                        <!-- VERIFICA SE OS DADOS INSERIDOS TEPO USUARIO, REALMENTE PERTENCEM A CLASSE TEMA -->
                        <input [(ngModel)]='produto.img' type="url" class="form-control" id="img" placeholder="Imagem">
                        <!-- VERIFICA SE OS DADOS INSERIDOS TEPO USUARIO, REALMENTE PERTENCEM A CLASSE TEMA -->
                        <input [(ngModel)]='produto.preco' type="number" class="form-control" id="preco" placeholder="Preco">
                        <!-- VERIFICA SE OS DADOS INSERIDOS TEPO USUARIO, REALMENTE PERTENCEM A CLASSE TEMA -->
                        <input [(ngModel)]='produto.estoque' type="number" class="form-control" id="estoque" placeholder="Estoque">
                        <!-- VERIFICA SE OS DADOS INSERIDOS TEPO USUARIO, REALMENTE PERTENCEM A CLASSE TEMA -->
                        <input [(ngModel)]='produto.qtdPedidoProduto' type="text" class="form-control" id="qtdPedidoProduto" placeholder="QTD Produtos">
                        <!-- POR MEIO DA ESCOLHA DO USUARIO E PELO METODO (CHANGE) E CAPITURADO O ID DA OPCAO ESCOLHIDA PELO USUARIO -->
                        <select [(ngModel)]='idCategoria' class="form-control texto-input" name="categoria" id="categoria" (change)='findByIdCategoria()'>
                          <!-- CRIA UM LOOP FOR PARA MOSTRAR TODAS AS OPCOES CONTIDAS DENTRO DA BADE DE DADOS DE TEMA -->
                          <!-- TRAZ O VALOR DO ID DE CADA TEMA E DEIXA-O ARMAZENDO DENTRO DO VALUE="id" -->
                          <option *ngFor='let item of listaDeCategoria' value="{{item.id}}">{{item.nome}}</option>
                        </select>
                        <!-- CHAMA A FUNCAO CRIADA cadastrar() DENTRO DA CLASSE, QUE TEM COMO FUNCAO, CADASTRAR O OBJETO TEMA -->
                        <button class="botao margem-botao" (click)='postProduto()'>Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- LISTA DE TEMAS -->
        <div class="col-md-7 texto d-flex justify-content-center flex-column">
          <div class="row mt-3 d-flex justify-content-center">
              <div class="col-md-12">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Preco</th>
                        <th scope="col">Estoque</th>
                        <th scope="col">Edição</th>
                      </tr>
                    </thead>
                    <tbody class="tr">
                      <!-- CRIA UM LOOP PARA IMPRIMIR NA TELA TODOS OS DADOS CONTIDOS DENTRO DA listaTema ==> Resposavel por armazenar os dados vindos da tabela Tema -->
                      <tr *ngFor='let item of listaDeProdutos'>
                        <td>{{item.nome}}</td>
                        <td>{{item.preco}}</td>
                        <td>{{item.estoque}}</td>
                        <td>
                          <a class="btn botao-editar" data-bs-toggle="modal" data-bs-target="#putProduto" (click)='findByIdProduto(item.id)' >Editar</a>
                          <a class="btn botao-editar" (click)='deleteProduto(item.id)' >Excluir</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>

<!-- ######################### CAMPOS DE PRODUTO - PUT ######################### -->
<!-- MODAL DE PRODUTO / PUT -->
<div class="modal fade texto" id="putProduto" tabindex="-1" role="dialog" aria-labelledby="modalputProduto" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title texto-bold" id="nomeProduto">Atualizar Categoria</h2>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group texto">
                <!-- VERIFICA SE OS DADOS INSERIDOS TEPO USUARIO, REALMENTE PERTENCEM A CLASSE TEMA -->
                <input [(ngModel)]='produto.nome' type="text" class="form-control" id="nome" placeholder="Nome">
                <!-- VERIFICA SE OS DADOS INSERIDOS TEPO USUARIO, REALMENTE PERTENCEM A CLASSE TEMA -->
                <input [(ngModel)]='produto.descricao' type="text" class="form-control" id="descricao" placeholder="Descricao">
                <!-- VERIFICA SE OS DADOS INSERIDOS TEPO USUARIO, REALMENTE PERTENCEM A CLASSE TEMA -->
                <input [(ngModel)]='produto.marca' type="text" class="form-control" id="marca" placeholder="Marca">
                <!-- VERIFICA SE OS DADOS INSERIDOS TEPO USUARIO, REALMENTE PERTENCEM A CLASSE TEMA -->
                <input [(ngModel)]='produto.img' type="url" class="form-control" id="img" placeholder="Imagem">
                <!-- VERIFICA SE OS DADOS INSERIDOS TEPO USUARIO, REALMENTE PERTENCEM A CLASSE TEMA -->
                <input [(ngModel)]='produto.preco' type="number" class="form-control" id="preco" placeholder="Preco">
                <!-- VERIFICA SE OS DADOS INSERIDOS TEPO USUARIO, REALMENTE PERTENCEM A CLASSE TEMA -->
                <input [(ngModel)]='produto.estoque' type="number" class="form-control" id="estoque" placeholder="Estoque">
                <!-- VERIFICA SE OS DADOS INSERIDOS TEPO USUARIO, REALMENTE PERTENCEM A CLASSE TEMA -->
                <input [(ngModel)]='produto.qtdPedidoProduto' type="text" class="form-control" id="qtdPedidoProduto" placeholder="QTD Produtos">
                <!-- POR MEIO DA ESCOLHA DO USUARIO E PELO METODO (CHANGE) E CAPITURADO O ID DA OPCAO ESCOLHIDA PELO USUARIO -->
                <select [(ngModel)]='idCategoria' class="form-control texto-input" name="categoria" id="categoria" (change)='findByIdCategoria()'>
                    <!-- CRIA UM LOOP FOR PARA MOSTRAR TODAS AS OPCOES CONTIDAS DENTRO DA BADE DE DADOS DE TEMA -->
                    <!-- TRAZ O VALOR DO ID DE CADA TEMA E DEIXA-O ARMAZENDO DENTRO DO VALUE="id" -->
                    <option *ngFor='let item of listaDeCategoria' value="{{item.id}}">{{item.nome}}</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="botao texto" id="publicacao" (click)='putProduto()' data-bs-dismiss="modal" aria-label="Close" >Atualizar</button>
        </div>
      </div>
  </div>
</div>

<section>
  <div class="bloco" *ngFor='let item of listaDeProdutos'>
    <div class="img">
      <img src="{{item.img}}" alt="{{item.nome}}">
    </div>
    <div class="conteudo">
      <h5>{{item.categoria.nome}}</h5>
      <h2>{{item.nome}}</h2>
      <h4>{{item.descricao}}</h4>
      <h3>R$ {{item.preco}}</h3>
    </div>
    <div class="botoes">
      <button (click)='adicionaItemListaDeDesejos(item.id, idListaDeDesejos)' >Lista de Desejos</button>
    </div>
  </div>
</section>
