<!-- APRESENTACAO SECTION -->
<section>
    <div class="sectionApresentacao">
        <div class="overlay">
            <div class="apresentacao">
                <h1>Juntos no meio digital</h1>
                <p>Entre em contato com um de nossos especialistas mostre seu projeto, sua ideia. Venha junto conosco para o meio digital. Ganhe mais visibilidade com um layout pensados e otimizado para te trazer melhores resultados, ganhe engajamento e rankeamento em pesquisas do Google.</p>
                <a href="contato.html">
                    <button>
                      Saiba Mais
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                          <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- FERRAMENTAS E ESTRATEGIAS SECTION -->
<section>
    <div class="sectionFerramentas">
        <h2>Encante sua audiência com um conteúdo que proporcione experiências</h2>
        <p>Crie conteúdo que cause impacto, atinja seu publico alvo com publicações que tragam relevância. Criamos para sua empresa um sistema otimizado, que ira auxiliar no crescimento do seu negocio.</p>

        <div class="ferramentas">
            <div class="bloco">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-code-square" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path d="M6.854 4.646a.5.5 0 0 1 0 .708L4.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0zm2.292 0a.5.5 0 0 0 0 .708L11.793 8l-2.647 2.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708 0z"/>
                </svg>
                <div class="texto">
                    <p class="titulo">UX e Design</p>
                    <p>Criação e desenvolvimento de aplicações web profissionais e responsivas.</p>
                </div>
            </div>
            <div class="bloco">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-vector-pen" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10.646.646a.5.5 0 0 1 .708 0l4 4a.5.5 0 0 1 0 .708l-1.902 1.902-.829 3.313a1.5 1.5 0 0 1-1.024 1.073L1.254 14.746 4.358 4.4A1.5 1.5 0 0 1 5.43 3.377l3.313-.828L10.646.646zm-1.8 2.908-3.173.793a.5.5 0 0 0-.358.342l-2.57 8.565 8.567-2.57a.5.5 0 0 0 .34-.357l.794-3.174-3.6-3.6z"/>
                    <path fill-rule="evenodd" d="M2.832 13.228 8 9a1 1 0 1 0-1-1l-4.228 5.168-.026.086.086-.026z"/>
                </svg>
                <div class="texto">
                    <p class="titulo">Criação & Design</p>
                    <p>Desenvolvemos sua marca, com logotipos, banners, cartões de visitas etc.</p>
                </div>
            </div>
            <div class="bloco">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
                    <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
                </svg>
                <div class="texto">
                    <p class="titulo">Inbound Marketing</p>
                    <p>Gestão e planejamento para aproximar e engajar seu publico alvo.</p>
                </div>
            </div>
            <div class="bloco">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5z"/>
                </svg>
                <div class="texto">
                    <p class="titulo">Estratégia Digital</p>
                    <p>Criamos um planejamento e um estudo para impulsionar sua empresa.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- LAYOUTS SECTION -->
<section>
    <div class="sectionLayout">
        <div class="layouts">
            <div class="img">
                <img src="assets/img/layout-resposivo.png" alt="Layouts Resposivos">
            </div>
            <div class="coteudo">
                <h2>Layouts responsivos para todos os dispositivos</h2>
                <p>Atraia a atenção de seus clientes com um site otimizado de fácil navegação e com um conteúdo de qualidade.</p>
                <a href="contato.html">
                    <button>
                      Fale Conosco
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                          <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </button>
                </a>
            </div>
        </div>

        <hr />

        <div class="layouts">
            <div class="coteudo">
                <h2>Trabalhe com conteúdo de impacto</h2>
                <p>Seja mais assertivo em seus serviços, atraia seu publico alvo com indexação no Google. Trabalhe seu conteúdo para criar engajamento e obter melhores resultados em pesquisas. Mantenha seu site sempre ativo, crie postagens para aumentar a relevância de seu conteúdo.</p>
                <a href="contato.html">
                    <button>
                      Saiba Mais
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                          <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </button>
                </a>
            </div>
            <div class="img">
                <img src="assets/img/indexacao-google.jpg" alt="Indexação Google">
            </div>
        </div>
    </div>
</section>
