<!-- NOVO TESTE -->
<div class="tela">
  <div class="container texto">
    <div class="row d-flex align-items-start justify-content-center">
        <div class="col-md-5 texto">
            <a routerLink='/home' class="texto rota-link">
                <i class="bi bi-chevron-double-left"></i> Home
            </a>
            / Tema
            <h1 class="fs-54 texto texto-responsivo">Categorias</h1>
            <h5 class="fs-18 texto texto-responsivo">Veja aqui todos os temas cadastrados ou cadastre um novo:</h5>

            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="form-group resposividade-botao">
                        <!-- VERIFICA SE OS DADOS INSERIDOS TEPO USUARIO, REALMENTE PERTENCEM A CLASSE TEMA -->
                        <input [(ngModel)]='categoria.nome' type="text" class="form-control" id="nome" placeholder="Digite a nome da categoria">
                        <!-- CHAMA A FUNCAO CRIADA cadastrar() DENTRO DA CLASSE, QUE TEM COMO FUNCAO, CADASTRAR O OBJETO TEMA -->
                        <button class="botao margem-botao" (click)='postCategoria()'>Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- LISTA DE TEMAS -->
        <div class="col-md-7 texto d-flex justify-content-center flex-column">
          <div class="row mt-3 d-flex justify-content-center">
              <div class="col-md-12">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Modificação</th>
                      </tr>
                    </thead>
                    <tbody class="tr">
                      <!-- CRIA UM LOOP PARA IMPRIMIR NA TELA TODOS OS DADOS CONTIDOS DENTRO DA listaTema ==> Resposavel por armazenar os dados vindos da tabela Tema -->
                      <tr *ngFor='let item of listaDeCategorias'>
                        <th>{{item.id}}</th>
                        <td>{{item.nome}}</td>
                        <td class="d-flex justify-content-end">
                          <button class="btn botao-editar" >Editar</button>
                          <button class="btn botao-apagar" >Apagar</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>
